if cart != null
    div#cart(class="cart")
        div#cart_header(class="cart-header", onclick="toggleVisibilityCartContent();")
            h2(class="cart-header") Cart
            h2(class="cart-header") Total :
            h2(class="cart-header") $
            button(class="cart-header", onclick="confirmationCommandModal();") Checkout

        div#cart_items
            ul(class="cart-items")
                table(width="100%")
                    col(width="60%")
                    col(width="20%")
                    col(width="10%")
                    col(width="10%")
                    tr
                        td
                            h3 Item Name
                        td
                            h3 Item Quatity
                        td
                            h3 Item Price(Unit)
                        td
                            h3 Delete Item
                - for (var x = 0; x < cart.length ; x++)

                    div(class="cart-item", name="cart_item", item_id="#{cart[x].item_id}", item_quantity="#{cart[x].item_quantity}",
                    item_name="#{cart[x].item_name}",item_price="#{cart[x].item_price}")
                        li
                            table(width="100%")
                                col(width="60%")
                                col(width="20%")
                                col(width="10%")
                                col(width="10%")
                                tr
                                    td
                                        h4 #{cart[x].item_name}
                                    td
                                        input(type="Number", value="#{cart[x].item_quantity}", min="1", onChange="updateQuantity('#{cart[x].item_id}', this.value);")
                                    td
                                        h4 #{cart[x].item_price} $
                                    td
                                        a(onclick="deleteItem('#{cart[x].item_id}');") Delete

    div#orderConfirmedModal.modal
        div.modalHolder
            h2 Confirmed !
            p Here is yout confirmation number :
            p#confirmationNumber
            p An e-mail will be send to you with your order informations.

            button(type='button', onClick="closeConfirmation();") Close

    div#addNewAddress.modal
        div.modalHolder
            h2 Add a new delivery address :
            form(name="account")
                table
                    tr
                        td Name *:
                        td
                            input(id='name', name='userCivicNumber',type='text', placeholder='Name',class='form-control', required autofocus, autocomplete="off")
                    tr
                        td Civic No. *:
                        td
                            input(id='civicNumber', name='userCivicNumber',type='text', placeholder='Civic No.',class='form-control', required autofocus, autocomplete="off")
                    tr
                        td Appartment :
                        td
                            input(id='appNumber', name='userAppNumber',type='text', placeholder='App. No. (Optional)',class='form-control', required autofocus, autocomplete="off")
                    tr
                        td Street *:
                        td
                            input(id='street', name='userStreet', type='text', placeholder='Street',class='form-control', required autofocus, autocomplete="off")
                    tr
                        td City *:
                        td
                            input(id='city', name='userCity', type='text', placeholder='City',class='form-control', required autofocus, autocomplete="off")
                    tr
                        td Province *:
                        td
                            input(id='province', name='userProvince', type='text', placeholder='Province',class='form-control', required autofocus, autocomplete="off")
                    tr
                        td ZIP Code *:
                        td
                            input(id='zipCode', name='userZipCode', type='text', placeholder='ZIP Code',class='form-control', required autofocus, autocomplete="off")

                button(type='button', onClick="addNewAddress();") Add Address
                button(type='button', onClick="showAddNewAddress();") Cancel

    div#confirmationCommandModal.modal
        div.modalHolder
            h2 Confirmation
            p Here is the summary of your order, do you confirm ?
            - var total = 0;
            - for (var x = 0; x < cart.length ; x++)
                div(class="cart-item")
                    ul(class="cart-items")
                        li
                            table(width="100%")
                                col(width="60%")
                                col(width="20%")
                                col(width="20%")

                                tr
                                    td
                                        h4 #{cart[x].item_name}
                                    td
                                        h4 #{cart[x].item_quantity}
                                    td
                                        h4 #{cart[x].item_price} $
                            - total = (cart[x].item_quantity * cart[x].item_price) + total

            h4 Ho lucky you ! You don't have to pay taxes this time ! :D
            h2 Total : #{total} $

            h3 Choose the delivery time :
            input(name="delivery_time", type="Radio", value="ASAP", checked, onchange="toggleDeleveryTimePickerVisibility();")
            | ASAP !
            input(name="delivery_time", type="Radio", value="user_defined", onchange="toggleDeleveryTimePickerVisibility();")
            | Someday...
            br
            div#delevery_time_picker.hidden
                | Select the date and time :
                input(type="datetime-local", name="date_time_picker", value="#{moment(Date.now()).format('YYYY-MM-DDThh:mm:ss')}", min="#{moment(Date.now()).format('YYYY-MM-DDThh:mm:ss')}")
            h3 Choose the delivery address :
            select#address(name="address") Address :
                option Default
                - for (var x = 0; x < account.deliveryAddresses.length ; x++)
                    option(id="#{account.deliveryAddresses[x].name}") #{account.deliveryAddresses[x].name}
            button(type='button', onclick="showAddNewAddress();") Add new address
            br
            button(type='button', onClick="checkout();confirmationCommandModal();") Gimme that Food !
            button(type='button', onClick="confirmationCommandModal();") Nop

