if cart != null
    div#cart(class="cart")
        div#cart_header(class="cart-header", onclick="toggleVisibilityCartContent();")
            h2(class="cart-header") Cart
            h2(class="cart-header") Total :
            h2(class="cart-header") $
            button(class="cart-header", onclick="confirmationCommandModal();") Checkout

        div#cart_items
            ul(class="cart-items")
                - for (var x = 0; x < cart.length ; x++)

                    div(class="cart-item", name="cart_item", item_id="#{cart[x].item_id}", item_quantity="#{cart[x].item_quantity}",
                    item_name="#{cart[x].item_name}",item_price="#{cart[x].item_price}")
                        li
                            h4 #{cart[x].item_name}
                            h4 #{cart[x].item_quantity}
                            h4 #{cart[x].item_price} $
                            h4 Delete

    div#confirmationCommandModal.modal
        div.modalHolder
            h2 Confirmation
            p Here is the summary of your command, do you confirm ?
            - var total = 0;
            - for (var x = 0; x < cart.length ; x++)
                div(class="cart-item")
                    li
                        h4 #{cart[x].item_name}
                        h4 #{cart[x].item_quantity}
                        h4 #{cart[x].item_price} $
                        - total = (cart[x].item_quantity * cart[x].item_price) + total

            h4 Ho lucky you ! You don't have to pay taxes this time ! :D
            h2 Total : #{total} $

            h3 Choose the delivery time :
            input(name="delivery_time", type="Radio", value="ASAP", checked)
            | ASAP !
            input(name="delivery_time", type="Radio", value="user_defined")
            | Someday...
            br
            button(type='button', onClick="checkout();confirmationCommandModal();") Gimme that Food !
            button(type='button', onClick="confirmationCommandModal();") Nop

