//
   Created by Gabriel on 2014-07-18.

block content

    p Please edit the fields.
    br

    h2 Modify Restaurant

    form(name="restaurant", action="/listRestaurant/confirmedModifications", method="post")

        h3 Restaurant

        | Name
        input(name='name', type='text', placeholder='Name', value='#{restaurant.name}', class='form-control', required autofocus, autocomplete="off")
        | Phone Number :
        input(name='phoneNumber', type='text', placeholder='###-###-####', value='#{restaurant.phoneNumber}',class='form-control', required autofocus, autocomplete="off")

        br
        | Civic No. :
        input(name='civicNumber', type='text', placeholder='Civic No.', value='#{restaurant.civicNo}',class='form-control', required autofocus, autocomplete="off")
        | Street :
        input(name='street', type='text', placeholder='Street', value='#{restaurant.street}',class='form-control', required autofocus, autocomplete="off")
        | City :
        input(name='city', type='text', placeholder='City', value='#{restaurant.city}',class='form-control', required autofocus, autocomplete="off")
        | Province :
        input(name='province', type='text', placeholder='Province', value='#{restaurant.province}',class='form-control', required autofocus, autocomplete="off")
        | ZIP Code :
        input(name='zipCode', type='text', placeholder='ZIP Code', value='#{restaurant.zipCode}',class='form-control', required autofocus, autocomplete="off")

        br
        input#btnSubmitModifications(type="submit", value="Modify Restaurant",class="btn btn-lg btn-primary btn-block")

