
block content
    script(type='text/javascript', src='/javascripts/clientOrdersManagement.js')

    h2 Orders Management
    br
    div#ordersPending
        h3 Pending Orders
        table
            thead
                th OrderId
                th ClientId
                th Delivery Address
                th Reception
                th Due
                th Items
                th Status
                th Update/Delete
            tbody
                each order, i in pendingOrders
                    tr
                        td #{order._id}
                        td #{order.client_id}
                        td #{order.delivery_address_name}
                        td #{order.order_timestamp}
                        td #{order.delivery_time}
                        td
                            each item, i in order.items
                                p #{item.item_id} X #{item.quantity}
                                br
                        td
                            fieldset
                                select#inputOrderStatus
                                    option(value='1', selected) Pending
                                    option(value='2') In Preparation
                                    option(value='3') Ready
                                    option(value='4') Delivered
                        td
                            button#updateOrder Update
                            button#deleteOrder Delete



    br
    div#ordersInPreparation
        h3 Orders In Preparation
        table
            thead
                th ClientId
                th Delivery Address
                th Reception
                th Due
                th Items
                th Modify/Delete
            tbody
                each order, i in inPreparationOrders
                    tr
                        td #{order._id}
                        td #{order.client_id}
                        td #{order.delivery_address_name}
                        td #{order.order_timestamp}
                        td #{order.delivery_time}
                        td
                            each item, i in order.items
                                p #{item.item_id} X #{item.quantity}
                                br
                        td
                            fieldset
                                select#inputOrderStatus
                                    option(value='1', selected) Pending
                                    option(value='2') In Preparation
                                    option(value='3') Ready
                                    option(value='4') Delivered
                        td
                            button#updateOrder Update
                            button#deleteOrder Delete

    br
    div#ordersReady
        h3 Orders Ready
        table
            thead
                th ClientId
                th Delivery Address
                th Reception
                th Due
                th Items
                th Modify/Delete
            tbody
                each order, i in readyOrders
                    tr
                        td #{order._id}
                        td #{order.client_id}
                        td #{order.delivery_address_name}
                        td #{order.order_timestamp}
                        td #{order.delivery_time}
                        td
                            each item, i in order.items
                                p #{item.item_id} X #{item.quantity}
                                br
                        td
                            fieldset
                                select#inputOrderStatus
                                    option(value='1', selected) Pending
                                    option(value='2') In Preparation
                                    option(value='3') Ready
                                    option(value='4') Delivered
                        td
                            button#updateOrder Update
                            button#deleteOrder Delete

    br
    div#ordersDelivered
        h3 Delivered Orders
        table
            thead
                th ClientId
                th Delivery Address
                th Reception
                th Due
                th Items
                th Modify/Delete
            tbody
                each order, i in deliveredOrders
                    tr
                        td #{order._id}
                        td #{order.client_id}
                        td #{order.delivery_address_name}
                        td #{order.order_timestamp}
                        td #{order.delivery_time}
                        td
                            each item, i in order.items
                                p #{item.item_id} X #{item.quantity}
                                br
                        td
                            fieldset
                                select#inputOrderStatus
                                    option(value='1', selected) Pending
                                    option(value='2') In Preparation
                                    option(value='3') Ready
                                    option(value='4') Delivered
                        td
                            button#updateOrder Update
                            button#deleteOrder Delete